	/*********************************/
	/* body 태그 안의 모든 글자크기를 13px로 설정하기*/
	/*********************************/
	body *{
		font-size:13px;
	}

	
	
	/*MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM*/
	/*********************************/
	/* table 태그의  경계선을 단일선으로 하기  */
	/* th 태그 안의 배경색을 lightgray 로 하기 */
	/* th, td 태그 안의 여백을 7px 로 하기     */
	/*********************************/
	table{
		border-collapse:collapse;
		spacing:0;
	}
	th{ 
		background-color:lightgray;  
	}
	th, td{ 
		padding:7px 13px 7px 13px; 
	}
		
	/*********************************/
	/* class=tableA11 가진 table 태그와 그 안의 th,td의  */
	/* 경계선 두께/모양/색상 설정하기  */
	/*********************************/
	.tableA11, .tableA11 th, .tableA11 td{
		border:1px solid gray;
		spacing:0;
	}
	
	/*********************************/
	/* class=tableA10 가진 table 태그와 그 안의 th,td의  */
	/* 경계선 두께/모양/색상 설정하기  */
	/*********************************/
	.tableA10, .tableA10 th, .tableA10 td{
		border-top:1px solid gray;
		border-bottom:1px solid gray;
		border-left:0px solid gray;
		border-right:0px solid gray;
		spacing:0;
	}
	/*********************************/
	/* class=tableA00 가진 table 태그와 그 안의 th,td의  */
	/* 경계선 두께/모양/색상 설정하기  */
	/*********************************/
	.tableA00, .tableA00 th, .tableA00 td{
		border:0px solid gray;
		spacing:0;
	}
	
	/*********************************/
	/* class=tableA00,class=tableA10,class=tableA11 가진 태그 안의 */
	/*    tr 중에 2n+3 번째 tr의 배경색을 #f6f6f6 로 하기 */
	/*    이때 n 은 0 시작해서 1씩 증가한다. */
	/*********************************/
	.tableA00 tr:nth-child(2n+3)
	,.tableA10 tr:nth-child(2n+3)
	,.tableA11 tr:nth-child(2n+3){
		background-color:#f6f6f6;
	}
	
	/*********************************/
	/* class=tableB 가진 table 태그와 그 안의 th,td의  */
	/* 경계선 두께/모양/색상 설정하기  */
	/*********************************/
	.tableB, .tableB th, .tableB td{
		border:1px solid gray;
		spacing:0;
	}
	
	
	
	
	
	
	
	