	/*********************************/
	/* body 태그 안의 모든 글자크기를 13px로 설정하기*/
	/*********************************/
	body *{
		font-size:13px;
	}
	/*********************************/
	/* th 태그 안의 배경색을 lightgray 로 하기 */
	/*********************************/
	th{
		background-color:lightgray;
	}
	/*********************************/
	/* class=searchResult 가진 태그의 후손 중에
	/*    tr 중에 2n+3 번째 tr의 배경색을 #f6f6f6 로 하기 */
	/*    이때 n 은 0 시작해서 1씩 증가한다. */
	/*********************************/
	.searchResult tr:nth-child(2n+3){
		background-color:#f6f6f6;
	}